# Base requirements
datasets ; python_version < "4.0"
ipywidgets ; python_version < "4.0"
ipykernel ; python_version < "4.0"
jupyterlab ; python_version < "4.0"
matplotlib ; python_version < "4.0"
nlp ; python_version < "4.0"
numpy ; python_version < "4.0"
scikit-learn ; python_version < "4.0"
torch ; python_version < "4.0"
transformers ; python_version < "4.0"
watermark ; python_version < "4.0"

# Chapter 0 - Prelude
safetensors ; python_version < "4.0"
transformers ; python_version < "4.0"

# Chapter 1 - Privacy
dill==0.3.5.1 ; python_version < "4.0"
hagrid ; python_version < "4.0"
nlp ; python_version < "4.0"
opacus ; python_version < "4.0"
pysyft ; python_version < "4.0"
torchcsprng==0.1.3+cu101 ; python_version < "4.0"
tqdm ; python_version < "4.0"

# Chapter 2 - Fairness and Bias
detoxify ; python_version < "4.0"
pandas ; python_version < "4.0"
scipy ; python_version < "4.0"
scikit-image ; python_version < "4.0"

# Chapter 3 - Model Explainability and Interpretability
captum ; python_version < "4.0"
git+https://github.com/openai/CLIP.github ; python_version < "4.0"
colorcet ; python_version < "4.0"
einops ; python_version < "4.0"
ftfy ; python_version < "4.0"
lime ; python_version < "4.0"
interpret ; python_version < "4.0"
pandas ; python_version < "4.0"
pygam ; python_version < "4.0"
regex ; python_version < "4.0"
scikit-learn ; python_version < "4.0"
scikit-learn-intelex ; python_version < "4.0"
shap ; python_version < "4.0"
git+https://github.com/finetuneanon/transformers/@gpt-neo-localattention  ; python_version < "4.0"
transformer-utils ; python_version < "4.0"
tqdm ; python_version < "4.0"
xgboost ; python_version < "4.0"

# Chapter 4 - Robustness
adversarial-robustness-toolbox ; python_version < "4.0"
git+https://github.com/nottombrown/imagenet_stubs ; python_version < "4.0"
pandas ; python_version < "4.0"
tensorflow ; python_version < "4.0"

# Chapter 5 - Secure and Trustworthy Data Generation
fgvcdata ; python_version < "4.0"
hydra-core ; python_version < "4.0"
merlin-dataloader==0.0.2 ; python_version < "4.0"
omegaconf ; python_version < "4.0"
pytorch-lightning ; python_version < "4.0"
torchmetrics ; python_version < "4.0"
fractal-pretraining @ git+https://github.com/catalys1/fractal-pretraining.git@main ; python_version < "4.0"
kubric @ git+https://github.com/google-research/kubric@main ; python_version < "4.0"

# Chapter 6 - More State of the Art Research Questions
tenseal ; python_version < "4.0"
git+https://github.com/microsoft/msrflute.git@main ; python_version < "4.0"

# Chapter 7 - From Theory to Practice
modAL ; python_version < "4.0"
pandas ; python_version < "4.0"
python-ternary ; python_version < "4.0"
scipy ; python_version < "4.0"
seaborn ; python_version < "4.0"
xgboost==1.4.2 ; python_version < "4.0"
