# Base requirements
transformers
datasets
matplotlib
ipywidgets
ipykernel
numpy
scikit-learn
watermark
nlp
torch
jupyterlab

# Chapter 1 - Privacy
opacus
pysyft
hagrid
tqdm

# Chapter 2 - Fairness and Bias
scikit-image
detoxify
scipy
pandas

# Chapter 3 - Model Explainability and Interpretability
einops
ftfy
captum
colorcet
scikit-learn-intelex
pygam
interpret
pysr
xgboost

# Chapter 4 - Robustness
adversarial-robustness-toolbox
tensorflow

# Chapter 5 - Secure and Trustworthy Data Generation
kubric==0.1.1

# Chapter 6 - More State of the Art Research Questions
tenseal
