# Base requirements
datasets ; python_version < "4.0"
ipywidgets ; python_version < "4.0"
ipykernel ; python_version < "4.0"
jupyterlab ; python_version < "4.0"
matplotlib ; python_version < "4.0"
nlp ; python_version < "4.0"
numpy ; python_version < "4.0"
scikit-learn ; python_version < "4.0"
torch ; python_version < "4.0"
transformers ; python_version < "4.0"
watermark ; python_version < "4.0"

# Chapter 6 - More State of the Art Research Questions
tenseal ; python_version < "4.0"
