# Base requirements
datasets ; python_version < "4.0"
ipywidgets ; python_version < "4.0"
ipykernel ; python_version < "4.0"
jupyterlab ; python_version < "4.0"
matplotlib ; python_version < "4.0"
nlp ; python_version < "4.0"
numpy ; python_version < "4.0"
scikit-learn ; python_version < "4.0"
torch ; python_version < "4.0"
transformers ; python_version < "4.0"
watermark ; python_version < "4.0"

# Chapter 3 - Model Explainability and Interpretability
captum ; python_version < "4.0"
git+https://github.com/openai/CLIP.github ; python_version < "4.0"
colorcet ; python_version < "4.0"
einops ; python_version < "4.0"
ftfy ; python_version < "4.0"
lime ; python_version < "4.0"
interpret ; python_version < "4.0"
pandas ; python_version < "4.0"
pygam ; python_version < "4.0"
regex ; python_version < "4.0"
scikit-learn ; python_version < "4.0"
scikit-learn-intelex ; python_version < "4.0"
shap ; python_version < "4.0"
git+https://github.com/finetuneanon/transformers/@gpt-neo-localattention  ; python_version < "4.0"
transformer-utils ; python_version < "4.0"
tqdm ; python_version < "4.0"
xgboost ; python_version < "4.0"
